<div id="sidebar">
  <div id="logo">
    <%= link_to root_path do %>
    <%= image_tag "logo.svg" %>
    <% end %>
  </div>
  <ul>
    <li class="category">Website</li>
    <li><%= link_to "Blog", root_path %></li>
    <li>About</li>
  </ul>

  <ul>
    <li class="category">Social</li>
    <li>Twitter</li>
    <li>Instagram</li>
    <li>Facebook</li>
  </ul>
  <p class="sign_in">Admin Login</p>
</div> 
