#content
  #header
    margin: 4em 0em

    &:after
      content: ""
      display: table
      clear: both
      height: 0
    .logo
      width: 40px
      position: relative
      display: inline-block

    .site-name
      font-weight: bold
      font-size: 2rem
      line-height: 38px
      float: left

    .button
      margin: 0

    p
      float: left
      margin: 0
      line-height: 38px
      font-weight: bold

    .buttons
      float: right

      .button
        margin: 0

.post_wrapper
  max-width: 100%
  width: 100%
  margin-bottom: 2rem
  min-height: 1vh

  .title
    margin-bottom: 0

  .index-image
    height: 25vh
    background-size: cover
    background-position: center center
    margin-bottom: 2.5rem

// Post show

.post_content


  .title
    margin-bottom: 0
    font-weight: bold

  .post-image
    margin-bottom: 2.5rem
